.nav-input {
  min-height: 35px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 3px;
}

.nav-input:focus {
  outline: none;
}

.header-input {
  /* width: 80%; */
  width: 55vw;
  height: 40px;
  padding: 0 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.header-input:focus {
  /* border: none; */
  outline: none;
}
